{
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-organize-imports"],
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "vueIndentScriptAndStyle": true
}
